<td>
  <select name="recipe_ingredient_ids[]" id="recipe_ingredient_ids_" class="form-control">
    <option value=""></option>
    <% consumableTypes.each(function(consumableType) { %>
      <option <%= (recipeIngredient.id == consumableType.id) ? "selected" : "" %>
        value="<%= consumableType.id %>"><%= consumableType.get("name") %></option>
    <% }) %>
  </select>
</td>
<td class="valign"><a data-behavior="remove_row" href="#"><i class="fa fa-times"></i></a></td>
