<article id="<%= dom_id(reagent_type) %>" data-id="<%= reagent_type.id %>">
  <div>
    <%= reagent_type.name %>
  </div>
  <div>
    <%= link_to "Edit", edit_reagent_type_path(reagent_type) %>
  </div>
</article>