<div class="title row">
  <div class="col-md-12">
    <h2>Consumable Types <%= link_to new_consumable_type_path, { class: 'btn btn-primary pull-right', role: 'button' } do %>
      <%= fa_icon "plus" %> New Consumable Type
    <% end %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th><th>Days To Keep</th><th></th>
        </tr>
      </thead>
      <tbody>
        <%= render consumable_types %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <%= paginate consumable_types %>
    </div>
  </div>
</div>

