<td>
  <input class="form-control" type="number" value="<%= quantity %>"
         name="batch_form[sub_batches][][quantity]" id="batch_form_sub_batches__quantity" />
</td>
<td>
  <input class="form-control" type="number" step="0.01" value="<%= volume %>"
         name="batch_form[sub_batches][][volume]" id="batch_form_sub_batches__volume" />
</td>
<td>
  <!--  This should be a dropdown popualted from Consumable.units, have created Mixtio.Bootstrap.Units to aid -->
   <select class="form-control" name="batch_form[sub_batches][][unit]" id="batch_form_sub_batches__unit">
     <% var units = Mixtio.Bootstrap.Units %>
     <% Object.keys(units).forEach(key => { %>
     <option value=<%= units[key] %> <% if (selected_unit == key) {%> selected <%}%>><%= key %></option>
     <% }); %>
   </select>
</td>
<td class="valign"><a data-behavior="remove_row" href="#"><i class="fa fa-times"></i></a></td>
