<div class="title row">
  <div class="col-md-12">
    <h2>
      Batches <%= link_to new_batch_path, { class: 'btn btn-primary btn-large pull-right', role: 'button' } do %>
        <%= fa_icon "plus" %> New Batch
      <% end %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
    <thead>
      <tr>
        <th></th><th>Consumable Type</th><th>Batch Number</th><th>Use by date</th><th>Created</th><th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <%= render batches %>
    </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <%= paginate batches %>
    </div>
  </div>
</div>
