<section class="container">
  <h2>New Batch</h2>
  <% provide(:action, "Create Batch") %>
  <% provide(:url, batches_path) %>
  <% provide(:method, :post) %>
  <%= render "error_messages", target: @batch_form %>
  <%= render "form" %>
</section>
