@import "shared";

*{
  padding: 0;
  margin: 0;
}

a{
  color: black;
  
  &:hover, &:visited{
    
  }
}

ul, ol{
  list-style-type: none;
}

html, body{
  height: 100%;
  width: 100%;
  text-decoration: none;
  font: {
    family: 'Helvetica Neue', helvetica, arial, sans-serif;
  }
}

.container{
  position: relative;
  width: 100%;
  min-height: 100%;
}

.body{
  clear: both;
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
}

header, footer{
  float: left;
  width: 100%;
}

header{
  border-bottom: 1px dotted gray;
  padding-bottom: 10px;
  height: 40px;

  a{
    text-decoration: none;
  }

  .heading{
    margin-top: 5px;
    padding: 5px;
    font-size: 2em;
  }
    
}

nav{
  position: absolute;
  top: 30px;
  right: 300px;
  width: 150px;


  a{
    display: block;
    width: 140px;

  }

  ul{
    li{

      ul{
        
        @include rounded-corners(5px);
        @include drop-shadow(2px, gray);
        opacity: 0.9;
        @include gradient(#fff, #ccc);

        width: 140px;
        border: 1px solid gray;

        a{
          display: block;
          padding-left: 5px;
        }

        li{

          font-size: 0.9em;

          &:hover{
            color: white;
          }

          a{
            display:block;
            padding-top:5px;
            color:#444;

            &:hover{

            }
          }

        }
      }
    }
  }
}

footer{
  min-height: 50px;
  border-top: 1px dotted black;

  p{
    padding: 10px;
    font:{
      size: 0.9em;
      color: black;
    }
  }
}

.flash .notice, .flash .alert, .errors{
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}

.flash{

}

.errors{

  
  border: 1px solid red;
  border-top: 3px solid red;
  margin:{
    top: 20px;
    bottom: 20px;
  }
  padding-left: 20px;

  h3{
    font:{
      size: 1.4em;
      padding-bottom: 10px;
    };

    color: red;
  }

  ul{
    margin-left: 20px;

    li{
      list-style-type: disc;
      color: red;
    }
  }

  p{
    margin-top: 20px;
  }
}

article{

  margin:{
    top: 10px;
    bottom: 10px;
  }
}

section{
  margin-left: 50px;
}

table{
  width: 100%;
  padding: 5px;

  td{
    text-align: center;
  }
}

.ingredients-list{
  margin-top: 20px;
  margin-bottom: 20px;
 
  h4{
    margin-bottom: 10px;
  }
}

