@import "colors";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "sticky_footer";
@import "font-awesome";

.top {
  @extend .nav;
  height: 300px;

  &.production {
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &.staging {
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &.development {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &.test {
    background-color: red;
  }
}

.main {
  bottom: 240px;
  position: relative;
  background-color: white;
  min-height: 400px;
}

.navbar-brand {
  padding: 17px 15px;
}

.nav > li:hover {
  background-color: darken($navbar-default-bg, 6.5%);
}

.nav > li > a {
  font-weight: bold;
}

.nav > li > a.current:after {
  position: absolute;
  bottom: 0px;
  left: 10px;
  right: 10px;
  content: '';
  display: block;
  height: 4px;
  background-color: $brand-secondary;
}

.container {
  width: auto;
  max-width: 920px;
  padding: 0 15px 7px 15px;
}

.container .text-muted {
  margin: 20px 0;
}

.title {
  margin-bottom: 30px;
}

//Added because was sometimes being hidden under barcode scan input
.ui-datepicker {
  z-index: 2 !important;
}

form[data-behavior="batch-form"] {
  i.fa-star {
    position: relative;
    top: -4px;
  }

  i.fa-star.disabled {
    color: $favourites-star-disabled-color;
  }

  i.fa-star.unfavourite {
    color: $favourites-star-unselected-color;
  }

  i.fa-star.favourite {
    color: $favourites-star-selected-color;
  }

  i.fa-star.favourite:hover, .fa-star.unfavourite:hover {
    color: $favourites-star-hover-color;
    cursor: pointer
  }
}

.table > tbody > tr > td.valign {
  display: table-cell;
  vertical-align: middle;
}

.error {
  @extend .alert-danger;
}

.warning {
  @extend .alert-warning;
}

.notice {
  @extend .alert-success;
}

.flash {
  padding-top: 10px;
}
.top-border {
  border-top: 2px solid grey;
}

div.batch-index-buttons {
  text-align: right;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .restrict-width {
    max-width: 200px;
  }
}

table.ingredients {
  table-layout: fixed;
}

table.ingredients .row-ingredient {
  width: 25%;
}

table.ingredients .row-number {
  width: 15%;
}

table.ingredients .row-supplier {
  width: 30%;
}

table.ingredients .row-quantity {
  width: 12%;
}

table.ingredients .row-unit {
  width: 15%;
}

table.ingredients .row-close {
  width: 3%;
}
