@import "bootstrap-sprockets";
@import "bootstrap";
@import "sticky_footer";
@import "font-awesome";

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.ui-datepicker {
  z-index: 2 !important;
}