<%= f.fields_for :mixture_criteria do |ingredient| %>

  <div class="row">
    <div class="col-md-12">
      <table id="mixable-ingredients-table" class="table table-striped ingredients">
        <thead>
          <tr>
            <th class="row-ingredient">Ingredient*</th>
            <% unless for_recipe %>
            <th class="row-number">Lot/Batch Number</th>
            <% end %>
            <th class="row-supplier">Supplier (Product Code)*</th>
            <th class="row-quantity">Quantity</th>
            <th class="row-unit">Unit</th>
            <th class="row-close"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="row">

    <% unless for_recipe %>
    <div id="consumable-barcode" class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon" id="barcode-scanner">
          <%= fa_icon "barcode" %>
        </span>
        <input type="text" class="form-control" aria-describedby="barcode-scanner" placeholder="Scan Barcode">
      </div>
      <span class="help-block"></span>
    </div>
    <% end %>

    <div class="col-md-offset-<%= for_recipe ? 9 : 6 %> col-md-3 text-right">
      <button id="add_ingredient_button" class="btn btn-primary btn-block">
        <%= fa_icon "plus" %> Add Ingredient
      </button>
    </div>

  </div>
<% end %>
